<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to Angular Dynamic Environment Variable Example!
  </h1>
</div>
<h2>Environment Variable Values: </h2>
<ul>
  <li> <h2><a>Running Environment: {{environmentRunningEnvironment}}</a></h2> </li>
  <li> <h2><a>Is in production: {{environmentProduction}}</a></h2> </li>
  <li> <h2><a>VAR01: {{environmentVar01}}</a></h2> </li>
  <li> <h2><a>VAR02: {{environmentVar02}}</a></h2> </li>
  <li> <h2><a>VAR03: {{environmentVar03}}</a></h2> </li>
</ul>

